html {
  position: relative;
  min-height: 100%;
}


body {
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  text-align: center;
  color: beige;
  background-color: rgb(194, 13, 13);
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
}

.navbar {
  color: beige;
  background-color: rgb(194, 13, 13);
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
}


.clickable-images {
  margin: 10px;
  max-width: 160px;
  border: none;
}

.jumbotron {
  color: rgb(194, 13, 13);
}

